h1 {
  text-align: center;
  font-family: cursive;
  color: #03792b;
  text-shadow: 1px 1px #02f054;
}

/*.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
/*.button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}
*/

.rpatz {
  bottom: 0%;
  right: 0%;
  position: absolute;
  padding: 10px;
}

/*
#demo {
  text-align: center;
}
*/

#wordbox {
    /*opacity: 0;*/
    margin: 30px auto 0;
    margin-left: -150px;
    display: block;
    width: 300px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    background: #fff;
    border-radius: 6px;
    color: #black;
    transition: 1s linear;
    font-family: cursive;
    z-index: 2;
    position: absolute;
    top: 350px;
    left: 50%;
}

#wordbox2 {
    /*opacity: 0;*/
    margin: 30px auto 0;
    display: block;
    width: 300px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    background: #fff;
    border-radius: 6px;
    color: #black;
    transition: 1s linear;
}

#button {
    background: #004318;
    border: 0;
    color: #02f054;
    font-size: 20px;
    padding: 1em 1.5em;
    cursor: pointer;
    margin: 0 auto 60px;
    display: block;
    text-align: center;
    border-radius: 40px;
    font-family: cursive;
    top: 100px;
    margin-top: 50px;
    outline: none;

}

#button:hover {
  background: #03792b;
}
#button:active {
  color: #f9ffd1;
}

/*.gem {
      display: block;
      z-index: 1;
      position: absolute;
      top: 250px;
      margin-left: auto;
      margin-right: auto;
}
*/

.gem {
      display: block;
      z-index: 1;
      position: sticky;
      margin-top: -40px;
      margin-left: auto;
      margin-right: auto;
}
