h2 {
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*.button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}
*/

.rpatz {
  bottom: 0%;
  right: 0%;
  position: absolute;
  padding: 10px;
}
#demo {
  text-align: center;
}
