h1 {
  text-align: center;
  font-family: cursive;
  color: #03792b;
  text-shadow: 1px 1px #02f054;
}

a.homepage {
  text-decoration: none;
}

a.homepage:visited {
  color: #03792b;
  }
a.homepage:hover {
  color: #03792b;
  }
a.homepage:active {
  color: #03792b;
  }

.rpatz {
  bottom: 0%;
  right: 0%;
  position: absolute;
  padding: 10px;
}

.rpatzClean {
    top: 0%;
    left: 0%;
    position: absolute;
    padding: 10px;
  }


#wordbox {
    /*opacity: 0;*/
    margin: 30px auto 0;
    margin-left: -160px;
    display: block;
    width: 330px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    background: #fff;
    border-radius: 6px;
    color: #004318;
    transition: 1s linear;
    transition: opacity .25s ease-in-out;
    font-family: cursive;
    z-index: 2;
    position: absolute;
    top: 350px;
    left: 50%;
}

 #wordbox2 {
    /*opacity: 0;*/
    margin: 30px auto 0;
    display: block;
    width: 300px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    background: #fff;
    border-radius: 6px;
    color: #004318;
    transition: 1s linear;
    transition: opacity .25s ease-in-out;
}

#button {
    background: #004318;
    border: 0;
    color: #02f054;
    font-size: 20px;
    padding: 1em 1.5em;
    cursor: pointer;
    margin: 0 auto 60px;
    display: block;
    text-align: center;
    border-radius: 40px;
    font-family: cursive;
    top: 100px;
    margin-top: 35px;
    outline: none;

}

#button:hover {
  background: #03792b;
}
#button:active {
  color: #f9ffd1;
}


.gem {
      display: block;
      z-index: 1;
      position: sticky;
      margin-top: -50px;
      margin-left: auto;
      margin-right: auto;
}

/*.gem {
      display: block;
      z-index: 1;
      position: absolute;
      top: 250px;
      margin-left: auto;
      margin-right: auto;
}
*/
