

body {
  background-color: #f7e1f5;
}

.portal {
  margin: 0;
  position: sticky;
  left: 50%;
  text-align: center;
}

a {
  text-decoration: none;
  color: #5a7f4d;
}
a:visited {
  color: #5a7f4d;
  }
a:hover {
  color: #214c21;
  }  
a:active {
  color: #5a7f4d;
  }
