

body {
  background-color: #f9ffd1;
}

.portal {
  margin: 0;
  position: sticky;
  left: 50%;
  text-align: center;
  font-family: cursive;
}

a {
  text-decoration: none;
  color: #03792b;
}
a:visited {
  color: #03792b;
  }
a:hover {
  color: #02f054;
  }
a:active {
  color: #03792b;
  }


/* OLD BUTTON
<div class="button"><button type="button" onclick="myFunction()">Try Me!</button>
</div>

<p id="demo"></p>
*/
